<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id="header">
                <ul id="menu">
                        
                    {% if app.user %}
                        <li><a href="{{ path('tareas') }}">Inicio</a></li>
                        <li><a href="{{ path('misTareas') }}">Mis tareas</a></li>
                        <li><a href="{{ path('crearTarea') }}">Crear tarea</a></li>
                        <li class="dcha"><a href="">{{ app.user.nombre ~ ' ' ~ app.user.apellidos }}</a></li>
                        <li class="dcha"><a href="{{ path('logout') }}">Cerrar Sesión</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('registro') }}">Registro</a></li>
                    {% endif %}
                </ul>
                <h1>Gestión de Tareas</h1>
            </div>
            <div class="clearfix"></div>
        {% endblock %}
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
